body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
 background-color: #859d8f;
}

 
a {
	text-decoration: none;
}

img {
max-width: 100%;
height: auto;
}

.button {
  font-size: 18px;
  font-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
  background-color: #ee5d3e;
  border-radius: 40px;
  padding: 10px 24px;
  background-color: #ee725a;
  background: linear-gradient(#f26843, #e74b36);
  border: none;
  box-shadow: 0 2px 2px #9e4334;
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-color: #ed7360;
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px #9e4334;
}

.button:active {
  color: #fefefe;
  background-color: #db5338;
  background: linear-gradient(#c73f2c, #e0603e);
  box-shadow: inset 0px 2px 2px #9e4334;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.user-navigation,
.catalog-navigation,
.features-list,
.footer-social,
.more-info,
.breadcrumbs,
.catalog-list,
.catalog-list-top,
.slider-list {
   list-style: none;
}

.catalog-navigation,
.search-popap,
.modal-login,
.feedback,
.basket-user  {
	display: none;
}


.wrapper {
  width: 1146px;
  margin: 0 auto;
}


.main-header {
  display: flex;
  margin-top: 9px;
  margin: 0 auto;
  margin-bottom: 2px;
  min-height: 64px;
  align-items: center;

}


.main-header-logo {
width: 154px;
height: 64px;
margin-right: 10px;
display: flex;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #859d8f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

}


.site-navigation {
min-height: 64px;
margin: 0;
padding: 0;
display: flex;
width: 377px;
justify-content: space-around;
margin-right: 358px;
align-items: center;

background: rgba(234, 255, 45, 0.2);
box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  width: 246px;
  justify-content: space-around;
  align-items: center;
}



.site-navigation a {
  display: block;
  color: #ffffff;
  border-bottom: 1px solid rgba(158, 178, 167, 0.2);
  vertical-align: middle;
  padding: 9px 13px 10px 14px;
  white-space: nowrap;
  border-radius: 999px;
}

.user-navigation a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #859d8f;
  vertical-align: middle;
  white-space: nowrap;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  color: #323232;
  background-color: #f8f7f4;
  border-bottom: 1px solid rgba(158, 178, 167, 0.2);
}

 li .search-img {
  position: relative;
  width: 33px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  }
.search-img svg {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 17px;
  height: 17px;
}



li .basket {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  padding-left: 45px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 11px;

  }

  .basket svg {
  position: absolute;
  left: 17%;
  top: 23%;
  width: 21px;
  height: 20px;
  }


li .login-link {
   position: relative;
   border-radius: 999px;
   background-color: rgba(255, 255, 255, 0.2);
   padding-left: 44px;
   padding-right: 16px;
   padding-top: 7px;
   padding-bottom: 9px;
 }

.login-link svg {
  position: absolute;
  left: 19%;
  top: 22%;
  width: 21px;
  height: 19px;

}

.button-navigation:hover path,
.button-navigation:focus path,
.button-navigation:hover circle,
.button-navigation:focus circle {
  fill: #000000;
}

 
.slider p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
}

.slider a {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}
.slider h3 {
font-size: 60px;
font-weight: 700;
line-height: 60.5px;
}

.banner {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  padding: 0;
}
.banner h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.banner p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 19px;
} 


.banner .button {
  align-self: flex-end;
  margin: 0;
  padding: 0;
 
  padding-bottom: 12px;
  padding-top: 18px;
  padding-right: 22px;
  padding-left: 22px;
 
  margin-right: 21px;
  margin-left: 350px;
  margin-bottom: 23px;
  margin-top: 26px;
  text-align: center;
  white-space: nowrap;

}
.additive-raspberrie {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 560px;
  min-height: 229px;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.additive-chocolate {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 560px;
  min-height: 229px;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.features {
  background-color: #f3e8d3;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  border-radius: 15px;
}

.features .title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 29px;

}

.features-list {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.features-item {
 position: relative;
 box-sizing: border-box;
 flex-basis: 50%;
 padding-left: 56px;
 padding-right: 33px;
}

.ice-cream::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}

 .eco::before {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}
 .cow::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}

 .thermometer::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}

 .news-subscription {
 display: flex;
 margin-bottom: 40px;
 justify-content: space-between;
 }

.blog-news {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("../img/strowbery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
 flex-basis: 560px;
 min-height: 220px;
 border-radius: 15px;
 flex-direction: column;
}

.blog-news h2 {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 26px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

}
.blog-news h3 {
  margin: 0;
  padding: 0;
}

.blog-news a {
  margin: 0;
  padding: 0;
  margin-left: 19px;
  display: block;
  width: 281px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;

}
.subscription-background {
    background-image: url("../img/bg-post.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 560px;
    height: 220px;
}
.subscription {
    background-color: #f8f7f4;
    color: #5a5a5a;
    background-position: 0 0;
     flex-basis: 549px;
  min-height: 211px;
  border-radius: 15px;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 5px;
  }
.subscription-form input {
  border-radius: 5px;
}

.map-img {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
.feedback-map {
  width: 302px;
  min-height: 305px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 63px;
  margin-right: 27px;

}
.adress {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: #ffffff;

}
.adress-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: #ffffff;
} 

.main-footer {
  color: #ffffff;
  background-color: #859d8f;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

}
.footer-social {
  display: flex;
  width: 220px; 
}

.social-button {
  position: relative;
  padding-left: 32px;
}

.twitter::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.instagram::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 5px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}
.fb::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 5px;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}
.vk::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 5px;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.more-info {
  text-align: center;   
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 337px;
  height: 50px;
  margin: 0;
  margin-top: 23px;
  margin-left: 31px;
  padding: 0;
}
.more-info a {
   font-size: 13px;
   line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(173, 197, 184, 0.2);

} 
.more-info-icon {
 position: relative;
  padding-left: 15px;
}
.more-info-icon::before { 
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  position: absolute;
  left: 0;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.more-info a:hover,
.more-info a:focus,
.more-info a:active {
  color: #ffbc9e;
}

.footer-copyright {
   font-size: 12px;
   line-height: 18px;
   text-align: left;
   display: flex;
   flex-direction: column;
   margin-top: 18px;
    margin-left: auto;
}


.logo-htmlacademy {
  margin-left: 3px;
}
.htmlacademy-made {
  color:#ffffff;
  border-bottom: 1px solid rgba(173, 197, 184, 0.2);
} 

/* страница Каталог*/

.contacts p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.contacts a {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-navigation-current {
  background-color: #d07058;
}

.basket-current {
  position: relative;
  padding-left: 30px;
}

.basket-current::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
}

.breadcrumbs a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(173, 197, 184, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color:#ffffff;
}

/*ДЛЯ ИНДЕКСА*/



.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  flex-basis: 267px;
  min-height: 267px;
  margin: 0;
  padding: 0;

}
.catalog-item-name {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.catalog-item-name a {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid rgba(173, 197, 184, 0.2);
}

.catalog-item:hover {
  background-color: #9bafa3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.catalog-item-price {
color: #ffffff;
font-weight: 700;
font-size: 45px;
line-height: 45px;
position: absolute;
bottom: -30px;
pointer-events: none;
 text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item-img {
  position: relative;
}
.catalog-item-img img {
  border-radius: 999px;
    }

.catalog-item-hit {
display: block;
background-image: url("../img/hit.svg");
background-repeat: no-repeat;
}

.catalog-item-price-smaller {
  color: #ffffff;
  line-height: 45px;
  font-weight: 700;
  font-size: 30px;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #ffffff;
}

.pagination-item a:hover {
  color: #323232;
  background-color: #ffffff;
}








