html,
body {
  min-height: 100vh;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
   width: 100%;
   margin: 0;
   padding: 0;

   font-family: "Roboto", Arial, sans-serif;
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   color: #ffffff;
   background-color: #859d8f;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-navigation,
.user-navigation,
.features-list,
.footer-social,
.more-info,
.breadcrumbs,
.catalog-list,
.catalog-list-top,
.slider-list,
.sub-menu {
   list-style: none;
}
.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  padding: 11px 24px;
  background-color: #f26843; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35)); 
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%); 
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%); 
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  -webkit-box-shadow: 0 2px 2px #9e4334;
          box-shadow: 0 2px 2px #9e4334;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-color: #ed7360;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: -o-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);
  -webkit-box-shadow: 0 2px 2px #9e4334;
          box-shadow: 0 2px 2px #9e4334;
}

.button:active {
  color: #fefefe;
  background-color: #db5338;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c73f2c), to(#e0603e));
  background-image: -webkit-linear-gradient(#c73f2c, #e0603e);
  background-image: -o-linear-gradient(#c73f2c, #e0603e);
  background-image: linear-gradient(#c73f2c, #e0603e);
  -webkit-box-shadow: inset 0px 2px 2px #9e4334;
          box-shadow: inset 0px 2px 2px #9e4334;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  margin: auto;
  background-color: #859d8f;
  background-image: url("../img/icecream-slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/icecream-slider-2.png");
}

.site-wrapper::after {
  background-image: url("..img/icecream-slider-3.png");
}

.content-wrapper {
  margin: auto;
  width: 1200px;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  margin-bottom: 2px;
  
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 377px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
}

.site-navigation a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  border-bottom: 1px solid rgba(158, 178, 167, 0.2);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  white-space: nowrap;
  padding: 9px 13px 10px 14px;
}

li:hover path,
li:focus path,
li:hover circle,
li:focus circle {
  fill: #000000;
}


.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 999px;
}

/*модалки и саб меню*/
.navigation-item {
  position: relative;
}

.popup {
  position: absolute;
  background-color: #f8f7f4;
    color: #323232;
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    display: none;
    top: 100%;
    z-index: 3;
}

.popup-left {
  left: 0;
}

.navigation-item:hover .popup {
  display: block;
}

.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 143px;
}
.sub-menu a {
  text-decoration: none;
  font: inherit;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  border: 0px;
  padding: 13px 13px;
  
}

.sub-menu a:hover {
  background-color: #fbded7;
  border-radius: 0;
}

.sub-menu a:focus {
  background-color: #f6b5a5;
  border-radius: 0;
}

.sub-menu a:active {
  background-color: #d07058;
  border-radius: 0;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 246px;

}

.user-navigation-catalog {
  min-width: 263px;
}

.user-navigation a {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}

li .search {
 position: relative;
 width: 33px;
 height: 33px;
 background-color: rgba(255, 255, 255, 0.2);
 border-radius: 999px;
}

.search svg {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 17px;
  height: 17px;
}

li .login-link {
   position: relative;
   border-radius: 999px;
   background-color: rgba(255, 255, 255, 0.2);
   padding-left: 44px;
   padding-right: 16px;
   padding-top: 7px;
   padding-bottom: 9px;
 }

.login-link svg {
  position: absolute;
  left: 19%;
  top: 22%;
  width: 21px;
  height: 19px;
}

li .basket {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  padding-left: 45px;
  padding-right: 17px;
  padding-top: 7px;
  padding-bottom: 11px;
  }

 .basket svg {
  position: absolute;
  left: 17%;
  top: 23%;
  width: 21px;
  height: 20px;
  }

/*попапы*/
.popup-right  {
 right: 0;
}

.popup-search {
  min-width: 341px;
  min-height: 84px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 15px 20px 15px;
  z-index: 2;
  }
.search input[type="search"] {
  width: 311px;
  height: 44px;
}

.popup-login {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 277px;
  min-height: 214px;
  padding: 20px 17px 22px 19px;
  margin-top: 4px;
}

a.restore,
a.new-registration {
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.enter-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 20px;
}

.login-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.login-help a {
  margin: 0;
  padding: 0;
}

.enter {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 44px;
}

.popup-login input[type="email"],
.popup-login input[type="password"] {
 width: 241px;
 height: 44px;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 padding: 16px 99px 15px 15px;
 background-color: #ffffff;
 border: 1px solid rgba(178, 178, 178, 0.52);
 border-radius: 5px;
}

.slider {
  position: relative;
  text-align: center;

}
.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  margin-top: 279px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slider-list {
  margin: 0;
  padding: 0;
}
/*для адреса*/
.slider p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
}

a.tell {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
 
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  margin-bottom: 40px;
  cursor: pointer;
}
.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream-slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream-slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  overflow: hidden;
}

.banner-raspberrie,
.banner-chocolate {
   -webkit-background-size:  cover;
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
   min-height: 229px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 26px 20px 23px;
  
}

.banner-raspberrie {
   background-color: #d32958;
    background-image: url(../img/raspberry.jpg);
}

.banner-chocolate {
  background-image: url(../img/chocolate.jpg);
    background-color: #56301c;
}

.banner h3 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 25px;
}
.banner p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  padding-bottom: 45px;
}
.banner-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
}
/*ДЛЯ ИНДЕКА*/

.catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
} 
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 267px;
      flex-basis: 267px;
  min-height: 267px;
  margin: 0;
  padding: 0;
}

.catalog-item-name {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.catalog-item:hover {
  background-color: #9bafa3;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.catalog-item-price {
 margin: 0;
 padding: 0;
color: #ffffff;
font-weight: 700;
font-size: 45px;
line-height: 45px;
position: absolute;
bottom: 8px;
pointer-events: none;
 text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
 background-color: transparent;
}

p.catalog-item-prise {
  margin: 0;
  padding: 0;
}

.catalog-item-img {
  width: 267px;
  height: 267px;
  position: relative;
}
.catalog-item-img img {
  margin: 0;
  padding: 0;
  border-radius: 999px;
    }

.catalog-item-hit::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 61px;
  height: 61px;
display: block;
background-image: url("../img/hit.svg");
background-repeat: no-repeat;
}

.catalog-item-price-smaller {
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 45px;
  font-weight: 700;
  font-size: 30px;
}

.catalog-item-name a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid rgba(173, 197, 184, 0.2);
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
}

.features {
  margin: 0 auto;
  padding: 0;
  background-color: #f3e8d3;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 25px 20px 13px;
}

.features .title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
}

.features-list {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.features-item {
 margin: 0;
 padding: 0;
 position: relative;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 -ms-flex-preferred-size: 48.8%;
     flex-basis: 48.8%;
 padding-left: 56px;
 margin-bottom: 12px;

}
.features-item p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.ice-cream::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}

 .eco::before {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}
 .cow::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}

 .thermometer::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
}
.news-subscription {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-bottom: 40px;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 }

.blog-news {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url("../img/strowbery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
 -ms-flex-preferred-size: 560px; 
     flex-basis: 560px;
 min-height: 220px;
 border-radius: 15px;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 padding-left: 20px;
  padding-top: 26px;
}

.blog-news h2 {
  display: block;
  margin: 0;
  padding: 0;
  
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-news h3 {
  margin: 0;
  padding: 0;
}

.blog-news a {
  margin: 0;
  padding: 0;
  display: block;
  width: 281px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;

}

.subscription-background {
    background-image: url("../img/bg-post.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 560px;
    height: 220px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #f8f7f4;
  color: #5a5a5a;
  background-position: 0 0;
  -ms-flex-preferred-size: 549px;
      flex-basis: 549px;
  min-height: 211px;
  border-radius: 15px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }

  .subscription p {
    
    margin: 0;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 35px;
  }
.subscription input {
  font: inherit;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #999999;
  padding: 15px 15px 13px 15px;
  box-sizing: border-box;
  width: 368px;
  height: 44px;
  margin-right: 11px;
}

.subscription-form {
  display: flex;
  padding-bottom: 35px;
  margin-top: auto;
}

.subscription input:focus {
  border-color: #8fbdec;
}

.button-subscription {
  padding-right: 21px;
}


.map {
  background-image: url("../img/map-with-pin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-center;
      -ms-flex-pack: flex-center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}


.feedback-map {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 302px;
  height: 305px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 63px;
  margin-right: 27px;
  padding: 31px 25px 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.small {
  margin: 0;
  padding: 0;
}

.address {
  margin: 0;
  padding: 0;
  width: 148px;

}
.address-bold,
.tel-bold {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.address-bold {
  margin-bottom: 23px;
}
.feedback-button {
  margin-top: auto;
}

.modal-feedback {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 478px;
  padding: 27px 24px 26px 25px;
  top: 337px;
  left: 50%;
  z-index: 10;
  background-color: #f8f7f4;
  color: #323232;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
   display: none;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;

  width: 18px;
  height: 17px;

  font-size: 0;
  background-color: transparent;
  border: 0;

  cursor: pointer;

}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 2px;

  background-color: black;
  width: 20px;
  height: 2px;
}
.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-feedback h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-size: 24px;
  line-height: 28px;
}

.modal-feedback p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form input[type="text"] {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font: inherit;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 267px;
  height: 44px;
  padding: 16px 71px 13px 15px;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 428px;
  height: 155px;
  margin-bottom: 25px;
}

.modal-basket {

  min-width: 540px;
  min-height: 242px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 60px;
  right: 0;
  padding: 20px 15px;
}

.basket-form {
  font: inherit;
  font-size: 13px;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.basket-button {
 display: inline-block;
 width: 170px;
 height: 44px;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 padding: 13px;

}

 .basket-button {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: center;
 font-size: 18px;
 line-height: 24px;
 font-weight: 700;
}
.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1px;
  padding-bottom: 28px;
}

.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 184px;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-item svg {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social-item:hover,
.social-item:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-item:hover svg,
.social-item:focus svg,
.social-item:hover path,
.social-item:focus path {
  opacity: 1;
  fill: #ffffff;
}

.social-item:active svg,
.social-item:active path {
  opacity: 0.8;
  fill: #ffffff;
}

.more-info {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgba(158, 178, 167, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 304px;
  padding-top: 37px;
  position: relative;
}


.more-info a {
  border-bottom: 1px solid rgba(158, 178, 167, 0.3);
  color: #ffffff;
}

.more-info a:hover,
.more-info a:focus,
.more-info a:active {
  color: #ffbc9e;
}

.heart-icon::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -17px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-copyright a {
  border-bottom: 1px solid rgba(158, 178, 167, 0.2);
  color: #ffffff;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(158, 178, 167, 0.3);
}

.logo-htmlacademy {
  margin-top: 18px;
}

.made-in {
  margin: 0;
  padding: 0;
}

.login-form input[type="email"],
.login-form input[type="password"],
.search-form input[type="search"],
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 10px 10px;
}

.login-form input:focus,
.search-form input:focus {
  border-color: #8fbdec;
}

.restore,
.check-in {
  color: #323232;
  border-bottom: 1px solid rgba(178, 178, 178, 0.3);
}

.restore:hover,
.restore:focus,
.restore:active,
.check-in:hover,
.check-in:focus,
.check-in:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(249, 205, 196, 0.3);
}

/*каталог*/
.container {
  position: relative;
}
.position {
  position: absolute;
  top: -38px;
  right: 0;
  margin: 0;
  padding: 0;
}
.position p {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.contacts .tell {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.site-navigation-current {
  background-color: #d07058;
  border-radius: 999px;
}

.basket-current {
  position: relative;
  padding-left: 30px;
}

.basket-current::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
}
ul.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-top: 28px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

}


.breadcrumbs li {
  position: relative;
  margin-right: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -14px;
 }
 .breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
   display: inline-block;
   padding: 0;
   margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(173, 197, 184, 0.2);
}
.breadcrumbs-current{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e
}

.container h1 {
  margin-top: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color:#ffffff;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  margin-top: 35px;
  padding-bottom: 30px;
}
.pagination-item {
  margin-right: 4px;
}
.pagination-item a {
  margin: 0;
  display: block;
  padding: 4px 8px;
  border-radius: 50%;
  line-height: 18px;
  color: #ffffff;
}
.pagination-item a:hover {
  color: #323232;
  background-color: #ffffff;
}
.pagination-item-previous a {
  width: 23px;
  height: 23px;
  margin-right: 0;

  background-image: url("../img/icon-left-small.png");
  background-repeat: no-repeat;
  background-position: 21% 50%;
}

.pagination-item-next a {
  width: 21px;
  height: 23px;

  background-image: url("../img/icon-right-small.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.pagination-item-next a:hover {
  color: #323232;
}

.main-header-catalog {
  margin-bottom: 21px;
}
.filters {
  margin-bottom: 24px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filters fieldset {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 16px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.filters legend {
  margin-bottom: 6px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
}

.sort-list,
.range-controls,
.fat-percent ul,
.fillers ul {
  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.sort select {
  width: 230px;
  height: 36px;
  padding: 7px 11px 7px 0;

  font-weight: 500;
  color: #ffffff;

  background-color: transparent;
  border: none;
  border-radius: 1px;
}

.select-wrapper {
  width: 193px;
  padding-left: 11px;
  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 168px center;
  border-radius: 18px;
}

.sort select:hover,
.sort select:focus {
  color: #323232;
}

.select-wrapper:hover,
.select-wrapper:focus {
  background-image: url("../img/icon-down-dir-hover.png");
  background-position: 169px center;
}

.filter-range {
  position: relative;
}

.filter-range legend {
  padding-left: 14px;
}

.price-controls {
  position: absolute;
  bottom: 40px;
  left: 54px;

  max-width: 163px;

  font-size: 14px;
  line-height: 16px;
}

.price-controls input {
  width: 27px;

  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;

  width: 219px;
  height: 36px;
  padding-top: 16px;
  padding-right: 21px;
  padding-left: 22px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.range-controls .scale {
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 55%;
  height: 4px;
  margin-left: 23px;

  background-color: #ffffff;
}

.range-controls .range-toggle {
  position: absolute;
  top: 8px;
  left: 0;

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #999999;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px 0 #cfcfcf;
  box-shadow: 0 1px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .range-toggle:hover,
.range-controls .range-toggle:focus {
  top: 7px;

  border-width: 9px;
}

.range-controls .range-toggle-min {
  left: 35px;
}

.range-controls .range-toggle-max {
  left: 133px;
}

.fat-percent ul {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1131px;
  padding: 7px 17px 0 12px;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filter-option {
  margin-bottom: 7px;
  padding: 2px;
  padding-right: 14px;
  padding-left: 35px;
}

.fillers .filter-option {
  padding-right: 22px;
  padding-left: 31px;
}

.filter-option:last-child {
  padding-right: 0;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -33px;

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
  width: 14px;
  height: 14px;

  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;

  width: 8px;
  height: 8px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  opacity: 1;
}
.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after {
  opacity: 0.4;
}

.fillers ul {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1141px;
  padding: 7px 20px 0 16px;

  list-style: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -31px;


  -webkit-box-sizing: content-box;


          box-sizing: content-box;
  width: 16px;
  height: 16px;

  border: 2px solid #ffffff;
  border-radius: 3px;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -31px;

  width: 24px;
  height: 20px;

  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 23px 20px;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}
.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after {
  opacity: 0.4;
}

.fillers ul {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1141px;
  padding: 7px 20px 0 16px;

  list-style: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -31px;

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
  width: 16px;
  height: 16px;

  border: 2px solid #ffffff;
  border-radius: 3px;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -31px;

  width: 24px;
  height: 20px;

  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 23px 20px;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
  opacity: 0.4;
}

.filter-button {

  -ms-flex-item-align: end;

      align-self: flex-end;
  margin-bottom: 16px;
  padding: 7px 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
  border-radius: 18px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-button:active {
  padding: 9px 29px 9px;

  background-color: #eaeaea;
  border: none;

  -webkit-box-shadow: inset 0 2px 1px #696969;

          box-shadow: inset 0 2px 1px #696969;
}
